<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="vue.js">
  </script>
</head>
<body>
  <div id="app"><!-- 真的可以。。只有你想不到。。#app能够直接打出一个div
   -->
  数字A <input type="text" v-model="a">
  <br>
  数字b <input type="text" v-model="b">
  <br>
  <button @click="handle">计算</button>
  <br>
  <span>结果为：{{result}}</span>
</div>
</body>
<script>
  new Vue({
    el:"#app",
    data(){
      return{
        a:'',
        b:'',
        result:'',
      }
    },
    methods:{
      handle(){
        this.result=parseInt(this.a)+parseInt(this.b)
      }
    }
  })
</script>
</html>