<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="vue.js"></script>
</head>
<body>
  <div id="app">
    <div><input type="text" v-model='ll'>
    <button @click='add'>xiegezi</button>
  </div>
    <br>
    <ul>
      <li :key='index' v-for='(item,index) in list'>{{item}}

      </li>
    </ul>

  </div>
</body>
<script>
  new Vue({
    el:'#app',
    data(){
      return{
        ll:'',
        list:['ni','b']
      }
    },
    methods:{
      add(){
        this.list.push(this.ll)
      }
    }
  })
</script>
</html>